.forgotpwd {
  width: 100%;
  height: 100vh;
  background-color: #05001b;
  display: flex;
  justify-content: center;

  .forgotpwd__container {
    width: 1200px;
    background-image: url(../../img/writing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;

    .forgotpwd__cover {
      width: 100%;
      height: 100%;
      background-color: #05001b9f;
      display: flex;
      align-items: center;
      justify-content: center;

      .forgotpwd__form {
        width: 700px;
        background: #05001bc5;
        min-height: 350px;
        padding: 1em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          margin: 0.7em;
          color: white;
          font-family: "Roboto Slab";
          font-size: 32px;
        }

        input {
          margin: 1.7em;
          height: 3em;
          padding: 0 1em;
          font-size: 16px;
          outline: none;
          width: 85%;
        }

        button {
          padding: 0.7em;
          width: 60%;
          margin: 1em 1.8em;
          color: white;
          font-size: 17px;
          font-family: "Poppins";
          text-transform: uppercase;
          outline: none;
          border: none;
          background-image: linear-gradient(
            to right,
            #05001bdc,
            rgba(216, 8, 8, 0.801)
          );
          cursor: pointer;
        }

        span {
          margin: 0 2em;
          font-family: "Poppins";
          font-size: 19px;
          color: white;

          a {
            color: #a0b6ff;
          }
        }
      }
    }
  }
}
